<xf:title>{{ phrase('sylphian_library_available_addon_logs') }}</xf:title>

<div class="addon-card-container">
    <xf:foreach loop="$addons" value="$addonInfo">
        <div class="addon-card">
            <a href="{{ link('logs/addon_logs/view', null, {'addon_id': $addonInfo.addon.addon_id}) }}" class="addon-card-link">
                <div class="addon-card-header">
                    <h3 class="addon-card-title">
                        <xf:if is="$addonInfo.addon">
                            {{ $addonInfo.addon.title }}
                            <xf:else />
                            {{ $addonInfo.addon_id }}
                        </xf:if>
                    </h3>
                </div>
                <div class="addon-card-body">
                    <div class="addon-card-version">
                        <xf:if is="$addonInfo.addon">
                            {{ phrase('version') }}: {{ $addonInfo.addon.version_string }}
                        </xf:if>
                    </div>
					
					<div class="addon-card-last-activity">
    					<xf:if is="$addonInfo.latest_log_date">
							{{ phrase('last_activity') }}: {{ date_time($addonInfo.latest_log_date) }}
						</xf:if>
					</div>
					
					<div class="addon-card-logs">
						<div class="addon-card-log-total">
							{{ phrase('sylphian_library_log_entries') }}: {{ $addonInfo.log_count }}
						</div>
						<div class="addon-card-log-types">
							<xf:if is="$addonInfo.type_counts.emergency">
								<div class="addon-card-log-type addon-card-log-emergency">
									{{ phrase('sylphian_library_logType_emergency') }}: {{ $addonInfo.type_counts.emergency }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.alert">
								<div class="addon-card-log-type addon-card-log-alert">
									{{ phrase('sylphian_library_logType_alert') }}: {{ $addonInfo.type_counts.alert }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.critical">
								<div class="addon-card-log-type addon-card-log-critical">
									{{ phrase('sylphian_library_logType_critical') }}: {{ $addonInfo.type_counts.critical }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.error">
								<div class="addon-card-log-type addon-card-log-error">
									{{ phrase('sylphian_library_logType_error') }}: {{ $addonInfo.type_counts.error }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.warning">
								<div class="addon-card-log-type addon-card-log-warning">
									{{ phrase('sylphian_library_logType_warning') }}: {{ $addonInfo.type_counts.warning }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.notice">
								<div class="addon-card-log-type addon-card-log-notice">
									{{ phrase('sylphian_library_logType_notice') }}: {{ $addonInfo.type_counts.notice }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.info">
								<div class="addon-card-log-type addon-card-log-info">
									{{ phrase('sylphian_library_logType_info') }}: {{ $addonInfo.type_counts.info }}
								</div>
							</xf:if>
							<xf:if is="$addonInfo.type_counts.debug">
								<div class="addon-card-log-type addon-card-log-debug">
									{{ phrase('sylphian_library_logType_debug') }}: {{ $addonInfo.type_counts.debug }}
								</div>
							</xf:if>
						</div>
					</div>
                </div>
            </a>
        </div>
    </xf:foreach>
</div>

<xf:css src="log_styles.less" />
<xf:css src="addon_cards.less" />